{% extends "base.html" %}
{% block title %}Tim Newbold | Data Engineer & AI/ML Practitioner - Portfolio{% endblock %}
{% block content %}
<main>
  <!-- Introduction Section -->
  <section id="introduction" class="section introduction">
    <div class="large-header">
      <canvas id="demo-canvas"></canvas>
      <div class="intro-text">
         <h1>Hi, I'm <span class="highlight-name">Tim</span>...</h1>
         <p>Welcome to my portfolio, I build end-to-end data platforms and predictive models that drive faster, smarter decisions.</p>
      </div>
    </div>
  </section>
  
<!-- About Section -->
<section id="about" class="section about">
  <div class="section-content about-content">
    <h2 class="background-title">What I Bring</h2>
    <p class="background-description">
    </p>
    <!-- Skill Cards -->
    <div class="skills-cards">
      <!-- Python/Development Card -->
      <div class="card tilt-card">
        <div class="card-inner">
          <div class="card-front-text">
            <h3>Software Engineering</h3>
          </div>
          <div class="card-hover-text">
            <p>Build scalable business solutions using Python and SQL for automation, analytics, and app development.</p>
          </div>
        </div>
      </div>
      <!-- AI & ML -->
      <div class="card tilt-card">
        <div class="card-inner">
          <div class="card-front-text">
            <h3>Applied AI & ML</h3>
          </div>
          <div class="card-hover-text">
            <p>Design and implement machine learning models for business intelligence, forecasting, and predictive analysis.</p>
          </div>
        </div>
      </div>
      <!-- Data Engineering -->
      <div class="card tilt-card">
        <div class="card-inner">
          <div class="card-front-text">
            <h3>Data Engineering</h3>
          </div>
          <div class="card-hover-text">
            <p>Architect and manage modern data warehouses with efficient, scalable data modeling and pipeline design.</p>
          </div>
        </div>
      </div>
      <!-- Azure -->
      <div class="card tilt-card">
        <div class="card-inner">
          <div class="card-front-text">
            <h3>Cloud Technologies</h3>
          </div>
          <div class="card-hover-text">
            <p>Skilled in the Azure ecosystem—Data Factory, Databricks, ML Studio—enabling cloud-first data transformation.</p>
          </div>
        </div>
      </div>
      <!-- Visualization -->
      <div class="card tilt-card">
        <div class="card-inner">
          <div class="card-front-text">
            <h3>Visualization & Storytelling</h3>
          </div>
          <div class="card-hover-text">
            <p>Create compelling dashboards in Power BI and Tableau to translate complex data into clear, actionable insights.</p>
          </div>
        </div>
      </div>
      <!-- Leadership -->
      <div class="card tilt-card">
        <div class="card-inner">
          <div class="card-front-text">
            <h3>Strategic Leaderhip</h3>
          </div>
          <div class="card-hover-text">
            <p>Lead enterprise-wide analytics initiatives by aligning data strategy with business goals and cross-functional priorities.</p>
          </div>
        </div>
      </div>
  </section>



<!-- Work Section -->
<section id="work" class="section work">
  <div class="section-content work-content">
    <h2 class="section-title">Work History</h2>
    <p class="work-subtitle">This is my professional path, showcasing my growth and experience over the years.</p>

    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>MIT Professional Education Applied Data Science Program | 2024 - 2025</h3>
          <h4>Leveraging AI for Effective Decision-Making</h4>
          <p>Earned a Certificate in Applied Data Science from MIT, gaining hands-on experience in machine learning and AI </p>
          <div class="tags">
            <span>Python</span>
            <span>AI</span>
            <span>Machine Learning</span>
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Analytics & Reporting Manager | 2018 - 2024</h3>
          <h4>M&T Bank</h4>
          <p>Strategic leader overseeing the development and management of Business Banking's data analytics and reporting infrastructure.</p>
          <div class="tags">
            <span>SQL</span>
            <span>Python</span>
            <span>Tableau | Power BI</span>
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Software Engineer | 2016 - 2018</h3>
          <h4>Integer</h4>
          <p>Hybrid role combining software development and project management, focused on manufacturing applications and enterprise software solutions.</p>
          <div class="tags">
            <span>SQL</span>
            <span>C#</span>
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Senior Data Analyst | 2012 - 2016</h3>
          <h4>Citigroup</h4>
          <p>Data Analyst for Citi’s Master Reference data quality platform.</p>
          <div class="tags">
            <span>SQL</span>
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Software Engineer | 2011 - 2012</h3>
          <h4>Algonquin Studios</h4>
          <p>Software Engineer responsible for building and maintaining .NET Web applications.</p>
          <div class="tags">
            <span>SQL</span>
            <span>.NET</span>
            <span>HTML</span>
            <span>CSS</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="section projects">
  <div class="section-content">
    <h2 class="section-title">Personal Projects</h2>
    <p class="projects-subtitle">A selection of personal projects showcasing my technical skills and creative problem solving.</p>

    <!-- Tag Filter Navigation -->
    <!-- Tag Filter Navigation -->
    <div class="project-tags">
      <button class="tag-btn active" data-tag="all">All</button>
      <button class="tag-btn" data-tag="Python">Python</button>
      <button class="tag-btn" data-tag="ML">Machine Learning</button>
      <button class="tag-btn" data-tag="AI">AI</button>
      <button class="tag-btn" data-tag="SQL">SQL</button>
      <button class="tag-btn" data-tag="Flask">Flask</button>
      <button class="tag-btn" data-tag="JS">Javascript</button>
      <button class="tag-btn" data-tag="Power BI">Power BI</button>
    </div>

    <!-- Projects List -->
    <div class="projects-list">
      <!-- Test Project 1 -->
      <div class="project-card" data-tags="Python, AI, ML">
        <div class="project-image">
          <img src="{{ url_for('static', filename='images/ai1.png') }}" alt="MIT CNN">
        </div>
        <h3>Facial Emotion Detection Neural Net</h3>
        <p>CNN model trained to detect happy, sad, neutral, and surprise emotions</p>
        <div class="project-tags-display">
          <span class="project-tag">Python</span>
          <span class="project-tag">AI</span>
          <span class="project-tag">Machine Learning</span>
        </div>
        <a href="https://github.com/tim-newbold/mit_cnn" class="btn">View Project</a>
      </div>

      <!-- Test Project 2 -->
      <div class="project-card" data-tags="AI,ML,Python">
        <div class="project-image">
          <img src="{{ url_for('static', filename='images/ai3.png') }}" alt="SVHN">
        </div>
        <h3>Street Housing Neural Net</h3>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="project-tags-display">
          <span class="project-tag">Python</span>
          <span class="project-tag">AI</span>
          <span class="project-tag">Machine Learning</span>
        </div>
        <a href="https://github.com/tim-newbold/mit_elective" class="btn">View Project</a>
      </div>
            <!-- Formula One -->
      <div class="project-card" data-tags="Python,AI,ML,Power BI,SQL">
        <div class="project-image">
          <img src="{{ url_for('static', filename='images/lando.png') }}" alt="Lando">
        </div>
        <h3>Formula One Result Prediction</h3>
        <p>Formula One Race Outcome Prediction Using AI</p>
        <div class="project-tags-display">
          <span class="project-tag">Python</span>
          <span class="project-tag">Machine Learning</span>
          <span class="project-tag">AI</span>
          <span class="project-tag">Power BI</span>
          <span class="project-tag">SQL</span>
        </div>
        <a href="https://github.com/tim-newbold/formula-one" class="btn">View Project</a>
      </div>

      <!-- Test Project 3 -->
      <div class="project-card" data-tags="Python,AI,ML,SQL">
        <div class="project-image">
          <img src="{{ url_for('static', filename='images/nascar.jpg') }}" alt="Nascar">
        </div>
        <h3>Nascar Result Forecasting</h3>
        <p>NASCAR Race Outcome Prediction Using AI</p>
        <div class="project-tags-display">
          <span class="project-tag">Python</span>
          <span class="project-tag">Machine Learning</span>
          <span class="project-tag">AI</span>
          <span class="project-tag">SQL</span>
        </div>
        <a href="#" class="btn">View Project</a>
      </div>

      <!-- Test Project 4 -->
      <div class="project-card" data-tags="Python,Flask,HTML,CSS,JS">
        <div class="project-image">
          <img src="{{ url_for('static', filename='images/flask.png') }}" alt="Test Project 1">
        </div>
        <h3>My Flask Site</h3>
        <p>My personal portfolio site you are visting!</p>
        <div class="project-tags-display">
          <span class="project-tag">Python</span>
          <span class="project-tag">Flask</span>
          <span class="project-tag">CSS</span>
          <span class="project-tag">Javascript</span>
          <span class="project-tag">HTML</span>
        </div>
        <a href="https://github.com/tim-newbold/tim" class="btn">View Project</a>
      </div>

  <!-- Food Hub order Analysis -->
      <div class="project-card" data-tags="Python,EDA,PCA">
        <div class="project-image">
          <img src="{{ url_for('static', filename='images/food.jpg') }}" alt="Lando">
        </div>
        <h3>Foodhub Order Analysis</h3>
        <p>Data Analysis – EDA & Business Insights</p>
        <div class="project-tags-display">
          <span class="project-tag">Python</span>
          <span class="project-tag">EDA</span>
          <span class="project-tag">PCA</span>
        </div>
        <a href="https://github.com/tim-newbold/mit_food_hub" class="btn">View Project</a>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="section contact">
  <div class="section-content contact-content">
    <!-- Left Side: Contact Information -->
    <div class="contact-left">
      <h2 class="section-title">More ways to find me!</h2>
      <ul class="contact-list">
        <li>
          <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="LinkedIn Logo">
          <a href="https://www.linkedin.com/in/tim-newbold/" target="_blank">LinkedIn</a>
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/mit.png') }}" alt="MIT ADSP Icon">
          <a href="https://olympus.mygreatlearning.com/eportfolio?pb_id=16749" target="_blank">MIT ADSP Cert</a>
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub Logo">
          <a href="https://github.com/tim-newbold">GitHub</a>
        </li>
        <li>
          <a href="{{ url_for('static', filename='Resume - Tim Newbold.pdf') }}" download class="btn">Download Resume</a>
        </li>
        <li>
          Email: <a href="mailto:timothyj.newbold@gmail.com">
             timothyj.newbold@gmail.com
          </a>
        </li>
      </ul>
    </div>
    
    <!-- Right Side: Canvas for Future Animation -->
    <div class="contact-right">
      <canvas id="contact-canvas"></canvas>
    </div>
  </div>
</section>

{% endblock %}
